<h1>Register</h1>

<form action="/users/register" method="post">
  <label for="first_name">FirstName</label>
  <input type="text" name="first_name" />
  <label for="last_name">lastname</label><input type="text" name="last_name" />
  <label for="email">email</label><input type="email" name="email" />
  <label for="age">age</label><input type="number" name="age" />
  <label for="password">password</label><input
    type="password"
    name="password"
  />
  <input type="submit" value="REGISTER" />
</form>